body {
  margin: 0;
  background-color: rgb(224,159,62);
  height: 4000px;
}

.topnav {
  background-color: rgb(84,11,14);
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  align-items: center;
  flex: 1;
  z-index: 200;
}

.name {
  font-family: "Archivo Black", sans-serif;
  color: rgb(158,42,43);
  font-size: 25px;
  padding-left: 100px;
  transition: color 0.3s;
}

.name:hover {
  color: white;
}

a{
  text-decoration: inherit;
  color: inherit;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  align-items: center;
}

.github, .linkedin {
  width: 75px;
  transition: filter 0.3s;
}


.contact {
  height: 75px;
  width: 150px;
  border-radius: 38px;
  border: none;
  font-family: "Archivo black", sans-serif;
  font-size: 25px;
  color: white;
  background-color: rgb(51, 92, 103);
  transition: filter 0.3s;
}

.contact:hover, .linkedin:hover, .github:hover{
  filter: hue-rotate(150deg);
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 100;
  position: relative;
  top: 300px;
  align-items: center;
}

.img-mig{
  height: 500px;
  border-radius: 50px;
}
.name-main {
  font-family: "Archivo black";
  font-size: 40px;
  line-height: 80px;
  color: rgb(84,11,14);
}

.name-format {
  font-size: 118px;
  color: rgb(158, 42, 43);
}

.school {
  position: relative;
  bottom: 153px;
  right: -100px;
  width: 800px;
}

.stripes-container {
  margin-left: 9%;
  display: flex;
  flex-direction: row;
  top: 125px;
  bottom: 0;
  position: fixed;
  z-index: 0;
}

.stripe {
  width: 20px;
  margin-right: 20px;
  background-color: white;
}