body {
  margin: 0;
  background-color: rgb(224, 159, 62);
  margin-top: 13.021vw;
  margin-top: clamp(100px, 13.021vw, 14vw);
}

.topnav {
  background-color: rgb(84, 11, 14);
  width: 100%;
  height: 6.51vw;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  flex: 1;
  z-index: 200;
  top: 0;

}

.name {
  font-family: "Archivo Black", sans-serif;
  color: rgb(158, 42, 43);
  font-size:calc(10px + 1.302vw);
  padding-left: 5.208vw;
  transition: color 0.3s;
  
}

.name:hover {
  color: white;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 26.042vw;
  min-width: 200px;
  align-items: center;
}

.github,
.linkedin {
  width: 3.906vw;
  min-width: 30px;
  transition: filter 0.3s;
}


.contact {
  height: 3.906vw;
  min-height: 30px;
  width: fit-content;
  min-width: 50px;
  border-radius: calc(10px + 1.979vw);
  border: none;
  font-family: "Archivo black", sans-serif;
  font-size:calc(2px + 1.302vw);
  color: white;
  background-color: rgb(51, 92, 103);
  transition: filter 0.3s;
}

.contact:hover,
.linkedin:hover,
.github:hover {
  filter: hue-rotate(150deg);
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 100;
  top: 10.417vw;
  align-items: center;
}

.img-mig {
  height: 25vw;
  border-radius: 2.604vw;
  min-height: 150px;
}

.name-main {
  font-family: "Archivo black";
  font-size:calc(10px + 2.083vw);
  line-height: clamp(40px,4.2vw, 5vw);
  color: rgb(84, 11, 14);
}

.name-format {
  font-size: 3em;
  color: rgb(158, 42, 43);
}

.school {
  position: relative;
  bottom: clamp(74px, 8.4vw, 9vw);
  left: clamp(50px, 6.5vw, 7vw);  
  width: 41.667vw;
  font-size: calc(2px + 1.667vw);
}

.stripes-container {
  margin-left: 9%;
  display: flex;
  flex-direction: row;
  top: 6.51vw ;
  bottom: 0;
  position: fixed;
  z-index: -10;
}

.stripe {
  width: 1.042vw;
  min-width: 8px;
  margin-right: clamp(8px, 1.042vw, 2vw);
  background-color: white;
  z-index: -10;
}