body{
  margin: 0;
  padding-top: 40px;
  color: #e2e9be;
  background-color: #2e85b4;
  overscroll-behavior: contain;
}


#navbar {
  background-color: #0c234b;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  transition: top 0.3s;
}

#navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  font-size: 20px;
  transition: top 0.3s;

}

#right {
  display: flex;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.title h1{
  font-family: jaro;
  font-size: 100px;
  font-weight: 10;
  margin: 0;
}

.title {
  text-align: center;
}

#generel-info{
  display: flex;
  flex-direction: column;
  text-align: center; 
  padding-left: 30px;
  padding-right: 30px; 
}

#generel-info div{
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: left;
  background-color: #1e5288;
  padding-left: 20px;
  padding-right: 20px;
}

h2, h3 {
  text-align: center;
}

iframe {
  overflow: hidden;
}
